<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: page-header"></div>
<br>
<h1>Your Events</h1>
<table>
    <tr th:each="event : ${events}">
        <div class ="card w-25">
            <h4 class = "card-header" th:text="${event.name}"></h4>
            <br>
            <div class="card-body">
                <div class="row gx-10">
                    <div class="col-md-2">
                        <a class="btn btn-primary btn-sm" th:href="@{'/view/' + ${event.id}}">View Details</a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-primary btn-sm" th:href="@{'/update/' + ${event.id}}">Edit</a>
                    </div>
                </div>
                <br>
                <a class="col-md-4 btn btn-danger btn-sm" th:href="@{'/delete/' + ${event.id}}">Delete</a>
                <br>
            </div>
        </div>
        <br>
    </tr>
</table>
</body>
</html>